
/* Overall */

body {
    background-color: #202D32;
}

.container{
    /* using pixles for more acuraccy */
    width: 499.64px;
}

/* Time-Date/Upper section */

.time {
    font-size: 10rem;
    margin-bottom: -4rem;
    color: #1e6f6f;
    font-family: "Open Sans Condensed";
    font-weight: bolder;
}

.date {
    font-size: 2.5rem;
    font-family: "Rajdhani";
    font-weight: 600;
    color: white;
}

/* Icons section */

.site-box {
    border-radius: 0.2rem;
    height: 7rem;
    width: 1.1rem;
    background-color: #1e6f6f;
    color: white;
}

.site-box img, .irc {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8rem;
    display: block;
}

.irc {
    color: white;
    font-size: 3.3rem;
    font-family: Rajdhani;
    font-weight: 900;
    text-align: center;
    margin-top: 1rem;
}

.box-shadow, .site-box, input {
    box-shadow: 0  0.2rem 0.2rem #212121;
}

.text-shadow, .date, .time {
    text-shadow: 0  0.2rem 0.2rem #212121;
}


/* Searchbox section */

input {
    background-color: #1e6f6f;
    color: white;
}

input {
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.2rem !important;
    border: 0 !important;
    height: 50px;
    margin-bottom: 3rem;
}

/* Hover effects section */
