/* Overall */

body {
    background-color: #202D32;
}

.container {
    width: 49.964rem;
}

/* Colors menu section */

.colors-menu-button {
    padding: 0.2rem;
    box-shadow: 0 0.2rem 0.2rem    border-radius: 5px 3px 5px
 rgba(0, 0, 0, 0.2);
}

.colors-menu {
    margin-top: 1rem;
    margin-left: 1.1rem;
    height: auto;
    width: auto;
}

.colors-menu div {
    width: 3rem;
    height: 2rem;
    display: inline-block;
    margin-bottom: 0.75rem;
    border: 0.1rem solid #fff;
}

.colors-menu .white {
    background-color: #202D32;
    width: 2.5rem;
    border-left: 3px;
}

.hide {
    display: none;
}

.colors-menu .red {
    background-color: #b30000;
    border-left: 1rem solid #202D32;
}

.colors-menu .blue {
    background-color: #1e6f6f;
    border-left: 1rem solid #202D32;
}

.colors-menu .green {
    background-color: #007515;
    border-left: 1rem solid #203222;
}

.colors-menu .brown {
    background-color: #6b420e;
    border-left: 1rem solid #322d20;
}

/* Time-Date/Upper section */

.time {
    font-size: 10rem;
    margin-bottom: -4rem;
    color: #1e6f6f;
    font-family: "Open Sans Condensed";
    font-weight: bolder;
}

.date {
    font-size: 2.5rem;
    font-family: "Rajdhani";
    font-weight: 600;
    color: white;
}

/* Icons section */

.site-box {
    border-radius: 0.2rem;
    height: 7rem;
    width: 1.1rem;
    background-color: #1e6f6f;
    color: white;
}

.site-box img, .irc {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8rem;
    display: block;
}

.irc {
    color: white;
    font-size: 3.3rem;
    font-family: Rajdhani;
    font-weight: 900;
    text-align: center;
    margin-top: 1rem;
}

.box-shadow, .site-box, input {
    box-shadow: 0 0.2rem 0.2rem #212121;
}

.text-shadow, .date, .time {
    text-shadow: 0 0.2rem 0.2rem #212121;
}

/* Searchbox section */

input {
    background-color: #1e6f6f;
    color: white;
}

input {
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.2rem !important;
    border: 0 !important;
    height: 50px;
    margin-bottom: 3rem;
}

/* Hover effects section */
